





.mainApp {
    height: 100% !important;
    width: 100% !important;
    background-image: url("./assets/futuristic_black_bg.jpeg");
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
    animation: subirBg 20s linear infinite;
}

@keyframes subirBg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%; /* valor negativo = sobe */
  }
}

.mainAppDivEffect {
  background: transparent;
  pointer-events: none;
}
.mainContainer {
    border: 1px red solid;
    max-width: 1920px !important;
    min-height: 100vh;
    padding: 0 !important;
}

.divNavColumn {
 display: flex;
 align-items: center;
 justify-content: center;
 border: 1px red solid;

 height: 100vh;
 width: 30vw;
 margin: 0 1.5vw 0 1.5vw;
}

.indexContainerConfig {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.navColumn {
    display: flex ;
    position: fixed;
    height: 88vh;
    width: 29vw !important;
    border-radius: 50px 0px;
    background: rgba(10, 10, 15, 0.95);
    backdrop-filter: blur(8px);
}

.indexContainer {
    background: rgba(10, 10, 15, 0.8);
    backdrop-filter: blur(1px);
    height: 200vh;
    width: 65.5vw !important;
    margin: 6vh 1.5vw 0 0 !important;
    padding: 0 !important;
    border-radius: 10px;
}

.navbarItens {
  font-size: medium;
  opacity: 0.8;
  font-size: 1.4rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.navbarItens:hover {
opacity: 1;
}

.navbarContainer {
  display: flex

}

.containerProjects {
  border: 1px red solid;
  height: 88vh;
}


