@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Raleway:wght@300&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background: #000;
    height: 8vh;

}

.cabecalho-nav {
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sarala', sans-serif;
    background: #000;
    height: 8vh;
    width: 100%;   
}

.div-logo {
    display: flex;
}

.p-logo-nome {
    color: #fff;
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.cabecalho-nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.hamb-menu {
    display: none;
    cursor: pointer;
    margin-left: 87%;
    transition: 1s;
}

.hamb-menu div {
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin: 6px;
    border-radius: 10PX;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    transition: 1s;
}

.cabecalho-nav-a {
    color: #fff;
    transition: 0.3s;
}

.cabecalho-nav-a:hover {
    color: #6690CB;
    opacity: 0.9;
}

.cabecalho-nav-list {
    display: flex;
    list-style: none;
}

#main-s-apre {
    background: url("imagens/code2.jpg") no-repeat center center;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    color: #FFF;
    height: 98vh;
}

.img-daru {
   margin-top: 14rem;
}

.h1-apre {
    font-size: 40px;
    font-family: 'Sarala', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    /*transition-timing-function: ease;
    transition-duration: 1.5s;*/
}

.p-apre {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    /*transition-timing-function: ease;
    transition-duration: 2s;*/
}

        /*     PROJETOS     */

#projetos {
    min-height: 92vh !important;
    background-color: #23232e;
    border-bottom: 0.4px solid #4a4a56;
    border-top: 0.4px solid #4a4a56;

}

.div-h1-projetos {
    display: flex;
    min-height: 8vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 0.6px solid #FFF;
}

.h1-projetos {
    color: #fff;
    display: block;
    font-family: 'Sarala', sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

    /*     CARDS     */

.container_cards {
    min-height: 84vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.cards {
    width: 18rem;
    height: 25rem;
    border-radius: 0.7rem;
    position: relative;
    margin: 3rem 2rem;
    
}

.card_ {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.7rem;
    overflow: hidden;
}

.card_ img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    opacity: 0.8;
}

.index_cards {
    top: 0%;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-bottom: 2rem;
    border-radius: 0.7rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgb(0 0 0 / 60%);
    transition: all 0.6s;
}

.index_cards:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.5)
 
}

.index_cards h1 {
    font-family: 'Sarala', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #eeeeee;
    margin-top: 4rem;
    
}

.index_cards h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: #6690CB;
    margin-bottom: 1.5rem;
    
}

.index_cards p {
    font-family: 'Sarala', sans-serif;
    color: #eeeeee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem;
    
}

.index_cards_btn_ass {
    width: 8rem;
    height: 2.5rem;
    text-transform: uppercase;
    background: #6690CB;
    font-family: var(--font-action);
    color: #eeeeee;
    border-radius: 0.5rem;
    border: none;
}

    /*     RESPONSIVE     */

@media (max-width: 1024px) {
    
        /*     MENU HANB     */

    body {
        overflow-x: hidden;
    }

    header {
        background: #000;
        height: 0vh;
    
    }

    .cabecalho-nav {
        position: fixed;
        background: none;
    }

    .cabecalho-nav-list {
        z-index: 8;
        position: absolute;
        top: 0px;
        right: 0;
        width: 50vw;
        height: 100vh;
        background-color: black;
        flex-direction: column;
        align-items: center;   
        justify-content: center;
        transform: translatex(100%);
        transition: transform 0.3s ease-in;
    }

    .cabecalho-nav-list li {
        letter-spacing: 3px;
        font-size: 140%;
        margin-top: 20px;
        opacity: 0;
        margin-left: 0;
    }

    .res-hamb-menu {
        display: block;
        margin-top: 30px;
        width: 100%;
        z-index: 9;
    }
    
    .hamb-menu {
        display: block;
    }

    .div-logo {
        display: none;
    }

    #main-s-apre {
        height: 100vh !important;
    }

    /*   ELEMENTOS REAJUSTADOS   */

        /*     HEADER     */

    .img-daru {
        height: 140px;
        margin-top: 25vh;
     }

     .hamb-menu {
        margin-left: 84%;
    }

    #main-s-apre {
        background: url("imagens/code2.jpg") no-repeat center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh !important;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
    
    }

    .h1-apre {
        display: flex;
        justify-content: center;
        font-size: 30px;
        width: 300px;
    }

    .p-apre {
        display: flex;
        justify-content: center;
        font-size: 20px;
        width: 300px;
    }

    /*     PROJETOS     */

    #projetos {
        min-height: 100vh !important;
    
    }
}

   /*      ANIMAÇÃO HANB       */
    

.cabecalho-nav-list.active {
    transform: translatex(0);
}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .hamb-menu.active {
    margin-left: 50%;
    transition: 1s;
  }

  .hamb-menu.active .div-line1 {
    background-color: #6690CB;
    transform: rotate(-45deg) translate(-8px, 8px);
    transition: 1s;
  }
  
  .hamb-menu.active .div-line2 {
    opacity: 0;
    transition: 1s;
  }
  
  .hamb-menu.active .div-line3 {
    background-color: #6690CB;
    transform: rotate(45deg) translate(-5px, -7px);
    transition: 1s;
  }