@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Raleway:wght@300&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho-nav {
    z-index: 9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sarala', sans-serif;
    background: #000;
    height: 8vh;
    width: 100%;   
}

.div-logo {
    display: flex;
}

.p-logo-nome {
    color: #fff;
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.cabecalho-nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.hamb-menu {
    display: none;
    cursor: pointer;
    margin-left: 87%;
    transition: 1s;
}

.hamb-menu div {
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin: 6px;
    border-radius: 10PX;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    transition: 1s;
}

.cabecalho-nav-a {
    color: #fff;
    transition: 0.3s;
}

.cabecalho-nav-a:hover {
    color: #6690CB;
    opacity: 0.9;
}

.cabecalho-nav-list {
    display: flex;
    list-style: none;
}

#main-s-apre {
    background: url("imagens/code2.jpg") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 94vh !important;
    padding: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

}

.img-daru {
   /* opacity: 0;
    transition-duration: 2s;*/
}

.h1-apre {
    font-size: 40px;
    font-family: 'Sarala', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    /*transition-timing-function: ease;
    transition-duration: 1.5s;*/
}

.p-apre {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    /*transition-timing-function: ease;
    transition-duration: 2s;*/
}

        /*     SLIDES     */

#projetos {
    min-height: 100vh !important;
    background-color: #23232e;
    border-bottom: 0.4px solid #4a4a56;
    border-top: 0.4px solid #4a4a56;

}

.div-h1-projetos {
    margin-left: 40%;
    margin-right: 40%;
}

.h1-projetos {
    color: #fff;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Sarala', sans-serif;
    border-bottom: 0.4px solid #FFF;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.index-sli {
    margin-top: 6%;
    width: 800px;
    height: 450px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    position: absolute;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%);
}

.inp-sli {
    display: none;
}

.slides {
    display: flex;
     /* WIDTH + 100% PARA CADA SLIDE */
    width: 200%;
    height: 100%;
}

#slide1:checked ~ .slide-s1 {
    margin-left: 0;
    filter: blur(0);
}

#slide2:checked ~ .slide-s1 {
    margin-left: -50%;
}
#slide2:checked ~ .slide-s2 {
    filter: blur(0);
}

#slide {
    border-radius: 20px;
    width: 50%;
    height: 100%;
    transition: 1s;
    position: relative;
}

.slide-s1 {
    filter: blur(3px);
}

.slide-s2 {
    filter: blur(3px);
}

.div-img-slide {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    border-radius: 20px;
}

.div-img-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: opacity 1s;
}

.slides:hover .div-img-slide img {
    opacity: 0.3;
}

#img-slide-impro {
    filter: blur(2px);
}

.conteudo-slide {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    top: 30%;
    padding-bottom: 7%;
    padding-left: 30%;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.slides:hover .conteudo-slide {
    top: 20%;
    opacity: 1;
    visibility: visible;
}

.conteudo-slide-inpro {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-slide-inpro {
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
    font-size: 200%;
    color: aliceblue;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.h1-slide {
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
    font-size: 180%;
    color: aliceblue;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.p-tec-slide {
    color: #6690CB;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 100%;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.p-sobre-slide {
    margin-bottom: 2rem;
    width: 400px;
    font-size: 100%;
    font-family: 'Sarala', sans-serif;
    color: aliceblue;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao-slide {
    height: 40px;
    width: 105px;
    border-radius: 10px;
    border: none;
    letter-spacing: 0.5px;
    font-size: 90%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background-color: #6690CB;
    font-family: 'Sarala', sans-serif;
    color: #fff;
    transition: 0.3s;
}

.botao-slide:hover {
    opacity: 0.7;
    cursor: pointer;
}

.navegation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 60px;
    height: 17px;
    border: 2px solid #6690CB;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;

}

.bar:hover {
    background-color: #6690CB;
    opacity: 1;
}


    /*     RESPONSIVE     */

@media (max-width: 1024px) {
    
        /*     MENU HANB     */

    body {
        overflow-x: hidden;
    }

    .cabecalho-nav {
        position: fixed;
        background: none;
    }

    .cabecalho-nav-list {
        z-index: 8;
        position: absolute;
        top: 0px;
        right: 0;
        width: 50vw;
        height: 100vh;
        background-color: black;
        flex-direction: column;
        align-items: center;   
        justify-content: center;
        transform: translatex(100%);
        transition: transform 0.3s ease-in;
    }

    .cabecalho-nav-list li {
        letter-spacing: 3px;
        font-size: 140%;
        margin-top: 20px;
        opacity: 0;
        margin-left: 0;
    }

    .res-hamb-menu {
        display: block;
        margin-top: 30px;
        width: 100%;
        z-index: 9;
    }
    
    .hamb-menu {
        display: block;
    }

    .div-logo {
        display: none;
    }

    #main-s-apre {
        height: 100vh !important;
    }

    /*   ELEMENTOS REAJUSTADOS   */

        /*     HEADER     */

    .img-daru {
        height: 140px;
        margin-top: 25vh;
     }

     .hamb-menu {
        margin-left: 84%;
    }

    #main-s-apre {
        background: url("imagens/code2.jpg") no-repeat center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh !important;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
    
    }

    .h1-apre {
        display: flex;
        justify-content: center;
        font-size: 30px;
        width: 300px;
    }

    .p-apre {
        display: flex;
        justify-content: center;
        font-size: 20px;
        width: 300px;
    }

}

   /*      ANIMAÇÃO HANB       */
    

.cabecalho-nav-list.active {
    transform: translatex(0);
}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .hamb-menu.active {
    margin-left: 50%;
    transition: 1s;
  }

  .hamb-menu.active .div-line1 {
    background-color: #6690CB;
    transform: rotate(-45deg) translate(-8px, 8px);
    transition: 1s;
  }
  
  .hamb-menu.active .div-line2 {
    opacity: 0;
    transition: 1s;
  }
  
  .hamb-menu.active .div-line3 {
    background-color: #6690CB;
    transform: rotate(45deg) translate(-5px, -7px);
    transition: 1s;
  }